.pagination {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.pagination__control {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: inherit;
  cursor: pointer;
}
.pagination__control::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background-image: url('../../assets/icons/arrow.svg');
}
.pagination__control::hover {
  transform: scale(1.05);
}
.pagination__control_disabled {
  pointer-events: none;
  opacity: 0.45;
}


.pagination__prev {
  transform: rotate(180deg);
}