.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 600px;
  height: 250px;
  padding: 12px;
  border-radius: 8px;
  background-color: #212120;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}
.movie-card:hover .movie-card__poster {
  opacity: 0.8;
}
.movie-card:hover .movie-card__more-text {
  transform: translateY(0);
}

.movie-card__poster {
  position: absolute;
  opacity: 0.4;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.5s;
}
.movie-card__poster .bg-img{
  border-radius: 8px;
}

.movie-card__title {
  margin: auto;
  text-align: center;
}

.movie-card__name {
  font-size: 22px;
  color: #fe4141;
}

.movie-card__more-container {
  margin-bottom: 10px;
  overflow-y: hidden;
}
.movie-card__more-text {
  font-size: 17px;
  font-weight: 600;
  transform: translateY(-20px);
  transition: transform 0.3s;
}
