.idea-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
}
.idea-details::-webkit-scrollbar {
  display: none;
}

.idea-details__title {
  font-size: 22px;
  color: #fe4141;
  text-align: center;
}

.idea-details__subtitle {
  font-size: 17px;
  font-weight: 600;
  display: inline;
}

.idea-details__overview {
  opacity: 0.9;
  text-align: center;
  margin-bottom: 10px;
}

.idea-details__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 8px;
}
.idea-details__column {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.idea-details__genres {
  text-transform: capitalize;
}

.idea-details__runtime {
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 6px;
}
.idea-details__runtime::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/time.svg");
  background-repeat: no-repeat;
}